
{% set templateClass = "letterTemplate letterLayoutStripe letterFooterBlue" %}
{% extends "layout_base.twig" %}
{% block content %}

<div class="letter-conv-font letter_conv_1">
<div class="card_top">
   <div class="top_header_row">
      <div class="topheader-barmain1st">
         <div class="colm_txt_inr">
            <h1 class="middlebar1_title">
               It’s Time to Renew <br> Your Home Insurance
            </h1>
            <div class="para-prosany">
            <p>
                {{ prospect.first_name }} {{ prospect.last_name }}<br>
                {{ prospect.address }}<br>
                {% if agent.purl %}
                    {{ agent.city }}, {{ agent.state}} {{ agent.zip }}
                {% else %}
                    {{ address }}
                {% endif %}
            </p>
            </div>
         </div>
      </div>
      <div class="top_header_colm header_colm_img">
         <figure>
            <img class="header_animation" src="../mailings/letters/images/layout2-asset1.gif"/>
         </figure>
      </div>
   </div>
</div>
<div class="bordermainhead">
</div>
<div class="card_middle">
<div class="wrap_ltr_mdl_content">
   <div class="mcromnt-sidebb">
      <small> </small>
   </div>
   <div class="main-headingcenter">
      <h3>
         Dear Prospect,
      </h3>
   </div>
   <div class="center-para">
      <p>Our records indicate that
         <span class="center-parabarmain">YOUR HOME INSURANCE IS ABOUT TO RENEW.</span>
         So we have prepared this customized annual premium estimate for you and encourage you to compare it to your
         current policy.
      </p>
      <p>Insurance rates change daily, which probably means you’re overpaying. {{ year }} is the year to shop your home
         insurance! Don’t wait! Call us now at
         <span class="spn-numberbar" >{% if agent.purl %}{{ agent.phone }}{% else %}555-555-5555{% endif %}</span>
         and lock in a better rate today!
      </p>
   </div>
   <div class="mainbar-centercontent">
      <div class="imgbgcenter" style="display: flex; justify-content: space-between">
         <div style="width: 58%">
            <div class="box-barmainheading">
               <h4>{{ prospect.address }}
               {% if agent.purl %}
                   {{ agent.city }}, {{ agent.state}} {{ agent.zip }}
               {% else %}
                   {{ address }}
               {% endif %}</h4>
               <p>Built in 1990 with 2,412 square feet</p>
            </div>
            <div class="boxsecond-barheading">
               <h3>Recommended Insurance Coverage</h3>
            </div>
            <div class="covg-containermain">
               <ul class="covg-contentlistbar">
                  <li class="covg-contentlistbarlistitem">
                     <span>Dwelling Coverage</span>
                     <span>$365,000</span>
                  </li>
                  <li class="covg-contentlistbarlistitem">
                     <span>Separate Structures</span>
                     <span>$36,500</span>
                  </li>
                  <li class="covg-contentlistbarlistitem">
                     <span>Personal Property</span>
                     <span>$219,000</span>
                  </li>
                  <li class="covg-contentlistbarlistitem">
                     <span>Loss of Use</span>
                     <span>Up to 12 Months</span>
                  </li>
                  <li class="covg-contentlistbarlistitem">
                     <span>Liability</span>
                     <span>$300,000</span>
                  </li>
                  <li class="covg-contentlistbarlistitem">
                     <span>Medical</span>
                     <span>$5,000</span>
                  </li>
                  <li class="covg-contentlistbarlistitem">
                     <span>Identity Fraud</span>
                     <span>$50,000</span>
                  </li>
               </ul>
            </div>
         </div>
         <div style="width: 40%">
            <div class="splt-barcontct first">
               <h2>YOUR ESTIMATED <br>ANNUAL PREMIUM
                  <br><span class="color-pri">$665.00</span>
               </h2>
            </div>
            <div class="splt-barcontct last">
               <h2 class="cunow">Call us now at<br><span class="color-pri">{% if agent.purl %}{{ agent.phone }}{% else %}555-555-5555{% endif %}</span><br>to lock in a better<br>rate today!</h2>
            </div>
         </div>
      </div>
   </div>
   <div class="covgblownote-barend lower">
      <small>
      This is merely a proposal and not a policy of insurance or offer to insure. The company reserves the right to accept, reject or modify this proposal after investigation, review of the application and review of all other underwriting information. Your rate could vary based on differences in your home, your age and other factors.
      </small>
   </div>
   <div class="containerbar-options {% if agent.purl %}purl{% endif %}">
      <div class="options-1stbar">
         {# <img src="/mailings/images/logos/genericLogo.svg" class="logo"> #}
         {% include 'logo.twig' %}
      </div>
      <div class="options-2bar">
         <img src="/mailings/letters/images/agency_info_user.png">
      </div>
      <div class="options-3bar">
      {% if agent.purl %}
      	<div class="options-3bar-agent-info purl">
          <span class="info_name">The {{ agent.shortname }} {% if not nobreak %}<br>Insurance Agency {% else %} Insurance Agency {% endif %}</span>
          <span class="info_addr">{{ agent.address }}</span>
          <span class="info_state">{{ agent.city }}, {{ agent.state }} {{ agent.zip }}</span>
          <span class="info_mail">{{ agent.email }}</span>
        </div>
      {% else %}
        <div class="options-3bar-agent-info">
          <span class="info_name">The {{ agent.name }} {% if not nobreak %}<br>Insurance Agency {% else %} Insurance Agency {% endif %}</span>
          <span class="info_addr">1234 Any St.</span>
          <span class="info_state">{{ address }}</span>
          <span class="info_mail">{{ agent.email }}</span>
        </div>
      {% endif %}
      </div>
   </div>
   <div class="bottom bottom-conv"><hr><span class="info_website">{{ agent.website }}</span></div>
   {# <div class="bottom bottom-conv">{% include 'call_noew_conv.twig' %}</div> #}
</div>

{% endblock %}
